*{
    margin:0 ;
    padding:0 ;
    box-sizing:border-box;
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:150px;
    background-color:rgb(253, 221, 39);
    text-align:center;
}
button {
    background-color:rgb(75, 212, 132);
    border-radius:20px;
    border-style:none;
    cursor:pointer;
    width:200px;
    height:40px;
}
button:hover {
    background-color:rgb(186, 245, 186);
    transition:0.7s;
}
input {
    border-radius:20px;
    padding:8px;
    border-style:solid;
    border-color:black;
}
.contenedor {
    background:#1f1f1f;
    padding:40px;
    border-radius:15px;
    width:350px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}
.titulo {
    margin-bottom:20px;
    color:white;
}
#valor {
    font-size:70px;
    margin:20px 0;
    color:white;
}
.botones {
    display:flex;
    gap:5px;
    justify-content:center;
    
}
button {
    cursor:pointer;

}
#mensaje{
    margin-top:20px;
    font-size:18px;
    color:white;
}